/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Avenir;
  src: url(./aseets/font/Avenir\ Roman.otf);
}

@font-face {
  font-family: IvyMode;
  src: url(./aseets/font/IvyMode-Light.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Avenir', 'Go';
  font-size: 16px;
}
body {
  font-size: inherit;
}

ul,
li {
  list-style: none;
  border: none;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Custom CSS */

.wrapper {
  width: 100%;
}

header {
  max-width: 1300px;
  width: 1300px;
  height: 110px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
}

.drop-menu-wrap {
  height: 100%;
  line-height: 110px;
  vertical-align: top;
  border-bottom: 1px solid #fff;
}

.hambuger {
  font-size: 28px;
  color: #fff;
  cursor: pointer;
}

.lang {
  color: #fff;
  padding-left: 60px;
  position: relative;
  top: -5px;
  cursor: pointer;
}
.lang:hover .fa-angle-down {
  transform: translateY(5px);
  transition: 0.5s;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.enquire-btn {
  margin-top: 33px;
  color: #fff;
  float: right;
  padding: 15px 20px;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  cursor: pointer;
}
.enquire-btn:hover {
  border-color: #b89435;
  color: #b89435;
}
.enquire-text {
  margin-left: 35px;
  position: relative;
  top: -2px;
}
.enquire-btn:hover svg path {
  stroke: #b89435;
  transition: 0.5s;
  transform: translateX(2px);
}

.cover__video {
  position: relative;
  width: 100%;
  top: -110px;
  z-index: -100;
}
.cover__video video {
  width: 100%;
}
.cover__video h2 {
  display: inline;
  font-family: 'IvyMode';
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 47%;
  font-size: 70px;
  color: #fff;
  transform: translate(-50%, -47%);
}
.title-wrap {
  max-width: 1300px;
  width: 1300px;
  overflow: hidden;
  margin: 0 auto;
}
.title {
  width: 50%;
  height: 470px;
  float: left;
  font-family: 'IvyMode';
  color: #b89535;
}
.blank {
  width: 50%;

  background-color: transparent;
  float: left;
}

.title .title-head h2 {
  font-size: 56px;
  font-weight: 300;
}
.title .title-head h2 b {
  color: #4a4a49;
}
.title-text {
  margin-top: 50px;
  font-family: Avenir;
  font-weight: 400;
  line-height: 1.5em;
  color: #4a4a49;
}
.img-list-wrap {
  max-width: 1300px;
  width: 1300px;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 50px;
}
.img-item {
  width: calc(100% / 3 - 90px);
  height: 600px;
  float: left;
  margin-right: 135px;
}
.img-item:last-child {
  margin-right: 0;
}

.img-item img {
  width: 100%;
  height: 340px;
  object-fit: cover;
}

.img-item h3 {
  font-family: IvyMode;
  color: #484848;
  font-size: 24px;
  padding: 20px 0;
}
.img-item p {
  font-family: Avenir;
  color: #4a4a49;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
}
.explore {
  max-width: 1300px;
  width: 1300px;
  height: 64px;
  margin: 0 auto;
  text-align: right;
  line-height: 64px;
  margin-bottom: 100px;
}
.explore a {
  width: 208px;
  height: 64px;
  cursor: pointer;
  line-height: 64px;
}
.explore a button {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid black;
  transition: 0.5s;
}
.explore a button svg {
  cursor: pointer;
}
.explore a span {
  position: relative;
  top: -8px;
  display: inline-block;
  font-family: Avenir;
  margin-left: 25px;
  line-height: 64px;
  transition: 0.8s;
}

.explore a:hover span,
.explore a:hover button {
  transform: translateX(15px);
}

.explore a:hover button svg {
  transform: scale(1.1);
}
.collection-wrap {
  width: 100%;
  background-color: #f0ebe5;
  padding: 128px 0 0;
  overflow: hidden;
}

.colection-container {
  max-width: 1300px;
  width: 1300px;
  height: 100%;
  margin: 0 auto;
}
.colection-container h2 {
  color: #4a4a49;
  font-family: IvyMode;
  font-size: 56px;
  padding: 20px 0;
}

.colection-container p {
  font-family: Avenir;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  color: #4a4a49;
  margin-bottom: 50px;
}

/* Swiper */
.mySwiper {
  padding-bottom: 100px;
}
.swiper {
  width: 1300px;
  overflow: visible;
}

.swiper-slide {
  text-align: center;
  width: 536px;
  max-width: 536px;
  font-size: 18px;
  height: 500px;
  overflow: hidden;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: flex-start;
  flex-direction: column;
}

.swiper-slide .swiper-img {
  display: block;
  width: 100%;
  height: 352px;
  object-fit: cover;
}

.swiper-slide p {
  font-family: Avenir;
  padding: 20px 0;
  color: #000;
}
.swiper-slide h3 {
  font-family: IvyMode;
  font-size: 24px;
  font-weight: 300;
  color: #484848;
}
.swiper-slide .swiper-img:hover {
  transform: scale(1.1);
  object-fit: cover;
  transition: transform 0.8s ease;
}

.swiper-move-btn {
  width: 104px;
  height: 64px;
  position: relative;
  background-color: #f9f7f7;
  border-radius: 6.25rem;
  top: -320px;
  right: -1095px;
  z-index: 10;
}

.swiper-button-prev::after {
  content: '';
}
.swiper-button-next::after {
  content: '';
}
.swiper-button-next svg {
  transform: rotate(180deg);
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal {
  height: 2px;
  left: 0;
  top: 570px;
}

.swiper-pagination-progressbar-fill {
  background-color: #b89535 !important;
}

/* .slider__progress .swiper-pagination-progressbar-fill {
  background-color: #b89535 !important;
} */

.card-list {
  position: relative;
  top: -130px;
  right: -265px;
}

.card-list li {
  float: left;
  margin-right: 10px;
}
.title-bg-wrap {
  background-color: #f9f7f7;
  padding-bottom: 70px;
}
.title-wrap1 {
  max-width: 1300px;
  width: 1300px;
  overflow: hidden;
  margin: 0 auto;
}
.title1 {
  padding-top: 135px;
  width: 100%;
  float: left;
  font-family: 'IvyMode';
  margin-bottom: 30px;
}

.title1 .title-head h2,
.title1 .title-head h2 span {
  font-size: 56px;
}

.title1 .title-head h2 span {
  color: #b89435;
}
.title-text1 {
  margin-top: 50px;
  font-family: Avenir;
  font-weight: 300;
  line-height: 0.8;
  color: #4a4a49;
  margin-bottom: 40px;
}
.img-list-wrap1 {
  max-width: 1300px;
  width: 1300px;
  height: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.img-item1 {
  width: calc(100% / 3 - 90px);
  height: 480px;
  float: left;
  margin-right: 95px;
}
.img-item1:last-child {
  margin-right: 0;
}
.img-item1 img {
  width: 100%;
  height: 480px;
  object-fit: cover;
}

.img-item1 h3 {
  font-family: IvyMode;
  color: #484848;
  font-size: 24px;
  padding: 20px 0 40px 0;
}
.img-item1 p {
  font-family: Avenir;
  color: #4a4a49;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
}

.img-item1:last-child h3 {
  padding: 20px 0 10px 0;
}

.explore1 {
  padding-right: 75px;
  padding-top: 70px;
}
.press-wrap {
  overflow: hidden;
}

.press-container {
  max-width: 1300px;

  margin: 0 auto;
}

.press-container h2 {
  font-size: 56px;
  font-family: IvyMode;
  font-weight: 300;
  padding: 135px 0 70px 0;
}

.press-container span {
  color: #b89535;
}

.swiper-slide {
  justify-content: flex-start;
}
.slide1 {
  width: 536px;
}
.carousel-item-box {
  width: 100%;
  height: 280px;
  overflow: hidden;
}
.carousel-item {
  width: 50%;
  float: left;
}

.carousel-item img {
  width: 100%;
  height: 280px;
}
.carousel-item1 {
  object-fit: cover;
  overflow: hidden;
}
.carousel-item-bg {
  background-color: #b89535;
  line-height: 280px;
}

.carousel-item-bg img {
  height: 1.625rem;
}

.swiper-slide .carousel-para {
  font-family: IvyMode;
  font-size: 28px;
  line-height: 1.25em;
  text-align: start;
  font-weight: 300;
  color: #4a4a49;
}

.swiper-move-btn1 {
  right: -1085px;
}
.press-img {
  transition: 0.8s ease;
}
.press-img:hover {
  transform: scale(1.1);
}
.hey {
  width: 100%;
  height: 1000px;
  background-color: tomato;
}

.touch-wrap {
  width: 100%;

  background-color: #f9f7f7;
  overflow: hidden;
  padding-bottom: 50px;
}
.touch-container {
  max-width: 1300px;
  width: 1300px;
  margin: 0 auto;
}
.touch {
  text-align: center;
}
.touch h3 {
  font-size: 56px;
  font-family: IvyMode;
  color: #4a4a49;
  line-height: 1em;
  font-weight: 300;
  padding: 129px 0 60px 0;
}
.touch p {
  font-family: Avenir;
  font-size: 16px;
  line-height: 1.5em;
  color: #4a4a49;
  margin-bottom: 50px;
}
.touch button {
  width: 280px;
  height: 80px;
  padding: 30px 60px;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.2s;
}
.touch button:hover {
  color: #b89535;
  border: 1px solid #b89535;
}
.touch button span {
  display: inline-block;
  transition: 0.2s;
}
.touch button:hover span {
  transform: translateX(13px);
}

.touch button svg {
  position: relative;
  left: -17px;
  top: 4px;
  stroke: #4b4b4b;
  transition: 0.2s;
}
.touch button:hover svg {
  stroke: #b89535;
  transform: translateX(13px);
}

.awards {
  margin-top: 135px;
  margin-bottom: 100px;
}
.awards h2 {
  font-size: 56px;
  font-family: IvyMode;
  font-weight: 300;
}
.awards h2:last-child {
  color: #b89535;
}
.awards-swiper-wrap {
  max-width: 1300px;
  width: 1300px;
  margin: 0 auto;
}
.card-slide {
  max-width: 267px;
  width: 267px;
  height: 236px;
  justify-content: flex-start;
  align-items: flex-start;
}
.card-item {
  width: 267px;
  height: 236px;
  text-align: start;
  padding: 25px;
  background-color: #fff;
}

.card-item p {
  font-size: 14px;
  line-height: 1.43em;
}
.card-item h3 {
  font-size: 20px;
  line-height: 1.67em;
}
.swiper-move-btn2 {
  top: -155px;
  right: -1190px;
}

footer {
  /* position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; */
  width: 100%;
  background-color: #212121;
  padding-top: 90px;
}

.footer-container {
  max-width: 1170px;
  width: 1170px;
  color: #fff;
  margin: 0 auto;
}
.footer-logo {
  overflow: hidden;
}
.footer-logo > div {
  width: 50%;
  float: left;
  margin-bottom: 40px;
}
.footer-logo > div:last-child {
  text-align: right;
}
.footer-logo > div > img {
  width: 162px;
  height: 58px;
}
.footer-nav {
  font-size: 20px;
  font-family: IvyMode;
  overflow: hidden;
  border-top: 1px solid #373737;
  border-bottom: 1px solid #373737;
}
.nav-item {
  float: left;
  margin-right: 150px;
  padding: 45px 0;
  transition: border-bottom 0.5s;
}
.nav-item:hover {
  border-bottom: 1px solid #b89535;
}
.nav-item:last-child {
  margin-right: 0;
}
.footer-sign {
  height: 340px;
  border-bottom: 1px solid #373737;
}

.footer-sign .footer-newsletter {
  font-family: IvyMode;
  font-size: 20px;
  font-weight: 300;
  margin-top: 70px;
  margin-bottom: 35px;
}
.footer-sign .footer-subscribe,
.footer-sign .footer-contact {
  width: 50%;
  height: 280px;
  float: left;
}
.footer-subscribe {
  background-color: #212121;
}
.footer-contact {
  background-color: #212121;
}
.footer-input-container {
  width: 445px;
  height: 65px;
}
.label-name,
.label-surname {
  width: 50%;
  height: 64px;
  display: block;
  position: relative;
  float: left;
  border: 1px solid #373737;

  outline: none;
  box-shadow: none;
  border-collapse: collapse;
}
#footer-name,
#footer-surname {
  padding: 8px 10px 10px;
  box-shadow: none;
  font-size: 1rem;
  line-height: 1.333em;
  color: #fff;
  width: 100%;
  outline: none;
  background-color: #212121;
  border-collapse: collapse;
  border: none;
  height: 45px;
  position: absolute;
  bottom: 0;
}

.footer-name,
.footer-surname {
  margin-top: -1px;
}
.input-label-name {
  position: absolute;
  font-size: 10px;
  z-index: 3;
  color: #fff;
  top: 25px;
  left: 12px;
}
.label-name:focus-within .input-label-name,
.label-surname:focus-within .input-label-name,
.email-label:focus-within .input-label-name {
  font-size: 8px;
  transform: translate(0, -15px);
}

.footer-email-container {
  max-width: 445px;
  width: 445px;
  height: 65px;
  position: relative;
}

.email-label {
  display: inline-block;
  width: 100%;
  height: 65px;
  background-color: #212121;
  border: 1px solid #373737;
  margin-top: -2px;
}
#footer-email {
  width: 100%;
  height: 45px;
  background-color: #212121;
  padding: 8px 10px 10px;
  box-shadow: none;
  font-size: 1rem;
  line-height: 1.333em;
  color: #fff;
  border: none;
  outline: none;
  position: absolute;
  bottom: 0;
  left: 0;
  border-left: 1px solid #373737;
  border-right: 1px solid #373737;
  border-bottom: 1px solid #373737;
}

.footer-arrow {
  position: absolute;
  top: 25px;
  right: 15px;
  z-index: 5;
  font-size: 10px;
  color: #b89535;
  cursor: pointer;
}
.footer-arrow i {
  margin-right: 15px;
  transition: 0.5s;
}
.footer-arrow p {
  display: inline-block;
  transition: 0.5s;
}
.footer-arrow:hover i {
  transform: translateX(10px);
}

.footer-arrow:hover p {
  transform: translateX(5px);
}

.footer-contact {
  height: 275px;
  text-align: right;
}
.footer-contact h3 {
  font-family: IvyMode;
  font-size: 20px;
  font-weight: 300;
}
.contact-number {
  margin: 20px 0 25px 0;
}

.contact-email1 {
  margin-bottom: 5px;
}

.contact-email1,
.contact-email2 {
  color: #b89535;
  font-size: 16px;
  font-family: Anvir;
}

.contact-email2 {
  margin-bottom: 60px;
}
.footer-link {
}
.footer-link ul {
  float: right;
}
.footer-link ul li {
  float: left;
  width: 60px;
  height: 60px;
  border: 1px solid #474747;
  text-align: center;
  line-height: 62px;
}
.footer-link ul li:hover {
  border: 1px solid #b89535;
}
.footer-link ul li a {
  display: inline-block;
  width: 60px;
  height: 60px;
}
.footer-made {
  height: 110px;
  line-height: 110px;
  overflow: hidden;
}
.footer-made > div {
  width: 50%;
  float: left;
}

.footer-made-ultima {
  font-family: Avenir;
  font-size: 11px;
}
.footer-made-ultima span {
  color: #b89535;
}
.footer-privacy {
  text-align: right;
  color: #fff;
  opacity: 0.3;
  font-size: 11px;
  transition: opacity 0.4s ease;
}
.footer-privacy span:hover {
  color: #b89535;
}
.footer-privacy span:first-child {
  margin-right: 30px;
}
